<header class="d-flex flex-row align-items-center text-center position-sticky top-0">
    <div class="col col-4 col-md-3 col-xl-2">
        <a href=<%= user_signed_in? && current_user.isAdmin? ? admin_root_path : user_signed_in? ? user_root_path : root_path %>><h4 class="my-2"><%= isAdmin ? "Fotobook Admin" : "Fotobook" %></h4></a>
    </div>
    <div class="col col-3 col-xl-4">
        <% if user_signed_in? && !current_user.isAdmin? %>
            <%= form_with(url: "/search/photos", method: :get, data: { controller: "search" }) do |f| %>
                <%= f.search_field :search, class: "rounded form-control-sm px-3 w-100", placeholder: "Search Photo / Album",
                data: { action: "keydown->form#submitOnEnter" } %>
            <% end %>
        <% else %>
            <input type="search" class="rounded form-control-sm px-3 w-100" placeholder="Search Photo / Album">
        <% end %>
    </div>
    <div class="col offset-1 offset-md-2 col-2 d-flex flex-row justify-content-center align-items-center">
        <% if user_signed_in? && user.avatar %>
            <a href=<%= photos_path(user.id) %>><img class="rounded-circle avatar-sm" src=<%= user.avatar.image.url %>></a>
            <a href=<%= photos_path(user.id) %>><h6 class="my-auto mx-3"><%= user.fname + " " + user.lname %></h6></a>
        <% elsif user_signed_in? %>
            <a href=<%= photos_path(user.id) %>><div dark="true">
                <%= render partial: "ava", locals: { fname: user.fname, lname: user.lname } %>
            </div></a>
            <a href=<%= photos_path(user.id) %>><h6 class="my-auto mx-3"><%= user.fname + " " + user.lname %></h6></a>
        <% end %>
    </div>
    <div class="col col-2">
        <% if user_signed_in? %>
            <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
                <%= submit_tag "Logout", class: "btn text-white p-0 my-2 border-0 logout" %>
            <% end %>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "my-2" %>
        <% end %>
    </div>
</header>