<header class="d-flex flex-row align-items-center text-center position-sticky top-0">
    <div class="col col-4 col-md-3 col-xl-2">
        <a href=<%= user_signed_in? ? "#{t('path.photos')}#{t('path.feed')}" : "/" %>><h4 class="my-2"><%= isAdmin ? "Fotobook Admin" : "Fotobook" %></h4></a>
    </div>
    <div class="col col-3 col-xl-4">
        <input class="rounded form-control-sm px-3 w-100" placeholder="Search Photo / Album">
    </div>
    <div class="col offset-1 offset-md-2 col-2 d-flex flex-row justify-content-center align-items-center">
        <% if user_signed_in? && user.avatar %>
            <a class="small-ava" href=<%= "#{t('path.users')}/#{current_user.id.to_s}#{t('path.photos')}" %>><img class="rounded-circle w-100" src=<%= user.avatar.image.url %>></a>
            <a href=<%= "#{t('path.users')}/#{current_user.id.to_s}#{t('path.photos')}" %>><h6 class="my-auto mx-3"><%= user.fname + " " + user.lname %></h6></a>
        <% elsif user_signed_in? %>
            <a href=<%= "#{t('path.users')}/#{current_user.id.to_s}#{t('path.photos')}" %>><div dark="true">
                <%= render partial: "ava", locals: { fname: user.fname, lname: user.lname } %>
            </div></a>
            <a href=<%= "#{t('path.users')}/#{current_user.id.to_s}#{t('path.photos')}" %>><h6 class="my-auto mx-3"><%= user.fname + " " + user.lname %></h6></a>
        <% end %>
    </div>
    <div class="col col-2">
        <% if user_signed_in? %>
            <%= form_with url: destroy_user_session_path, method: :delete, local: true do %>
                <%= submit_tag "Logout", class: "btn text-white p-0 my-2 border-0" %>
            <% end %>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "my-2" %>
        <% end %>
    </div>
</header>