<div class="d-flex flex-row align-items-center">
    <% if user_signed_in? %>
        <% if local_assigns[:photo] %>
            <% if photo.user_like_photo.include?(current_user) %>
                <%= form_with(url: "/like/photo/#{photo.id}", method: :delete, data: { turbo_frame: photo }) do |f| %>
                    <%= button_tag(type: 'submit', class: "btn like-button") do %>
                        <i class="fa-solid fa-heart fa-xs like me-1" like="true"></i>
                    <% end %>
                <% end %>
            <% else %>
                <%= form_with(url: "/like/photo/#{photo.id}", method: :post, data: { turbo_frame: photo }) do |f| %>
                    <%= button_tag(type: 'submit', class: "btn like-button") do %>
                        <i class="fa-solid fa-heart fa-xs like me-1"></i>
                    <% end %>
                <% end %>
            <% end %>
        <% else %>
            <% if album.user_like_album.include?(current_user) %>
                <%= form_with(url: "/like/album/#{album.id}", method: :delete, data: { turbo_frame: album }) do |f| %>
                    <%= button_tag(type: 'submit', class: "btn like-button") do %>
                        <i class="fa-solid fa-heart fa-xs like me-1" like="true"></i>
                    <% end %>
                <% end %>
            <% else %>
                <%= form_with(url: "/like/album/#{album.id}", method: :post, data: { turbo_frame: album }) do |f| %>
                    <%= button_tag(type: 'submit', class: "btn like-button") do %>
                        <i class="fa-solid fa-heart fa-xs like me-1"></i>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% else %>
        <i class="fa-solid fa-heart fa-xs notlike me-1"></i>
    <% end %>
    <span><%= local_assigns[:photo] ? photo.user_like_photo.size : album.user_like_album.size %></span>
</div>