<div class="d-flex flex-column nav-bar">
    <% if current_user.isAdmin %>
        <a current=<%= page == "photo" ? "true" : "false" %> href=<%= photos_path %>><%= t('manage', item: t('photo')) %></a>
        <a current=<%= page == "album" ? "true" : "false" %> href=<%= albums_path %>><%= t('manage', item: t('album')) %></a>
        <a current=<%= page == "user" ? "true" : "false" %> href=<%= users_path %>><%= t('manage', item: t('users')) %></a>
    <% else %>
        <a current=<%= page == "feed" ? "true" : "false" %> href="/photos/feed"><%= t('feed') %></a>
        <a current=<%= page == "discover" ? "true" : "false" %> href="/photos/discover"><%= t('discover') %></a>
    <% end %>
</div>