<div class="d-flex flex-row">
    <% if user.avatar %>
        <img class="rounded-circle me-4 avatar-lg" src=<%= user.avatar.image.url %>>
    <% else %>
        <%= render partial: "ava", locals: { fname: user.fname, lname: user.lname, classname: "avatar-lg" } %>
    <% end %>
    <div class="d-flex flex-column">
        <% if user_signed_in? %>
            <% if params[:user_id] != current_user.id.to_s %>
                <%= turbo_frame_tag user, class: "follow-button-#{user.id}" do %>
                    <%= render partial: "follow", locals: { user: user } %>
                <% end %>
            <% else %>
                <button onclick="window.open('<%= edit_user_registration_path %>', '_self')" class="btn edit-profile-button rounded-pill py-1">Edit Profile</button>
            <% end %>
        <% end %>
        <h1 class="text-black my-3"><%= "#{user.fname} #{user.lname}" %></h1>
        <div class="d-flex flex-wrap">
            <a href=<%= photos_path %> class="profile-tab" select=<%= page == "photos" ? "true" : "false" %>><span class="fs-3"><%= user.photos.photo_only.size %></span> PHOTOS</a>
            <div class="border-start mx-lg-3 mx-2"></div>
            <a href=<%= "#{t('path.users')}/#{params[:user_id]}#{t('path.albums')}" %> class="profile-tab" select=<%= page == "albums" ? "true" : "false" %>><span class="fs-3"><%= user.albums.size %></span> ALBUMS</a>
            <div class="border-start mx-lg-3 mx-2"></div>
            <a href=<%= followings_path %> class="profile-tab" select=<%= page == "followings" ? "true" : "false" %>><span class="fs-3"><%= user.followees.size %></span> FOLLOWINGS</a>
            <div class="border-start mx-lg-3 mx-2"></div>
            <a href=<%= followers_path %> class="profile-tab" select=<%= page == "followers" ? "true" : "false" %>><span class="fs-3"><%= user.followers.size %></span> FOLLOWERS</a>
        </div>
    </div>
</div>