<% if @user.followees.include?(user) || @user.followers.include?(user) %>
    <div>
        <div class="bg-body-tertiary rounded mx-1 my-4 py-3 d-flex flex-column align-items-center">
            <% if user.avatar %>
                <img src="<%= user.avatar.image.url %>" class="rounded-circle w-50">
            <% else %>
                <%= render partial: "ava", locals: { fname: user.fname, lname: user.lname, classname: "fs-2 p-4" } %>
            <% end %>
            <h5 class="text-dark mt-1"><%= "#{user.fname} #{user.lname}" %></h5>
            <div class="d-flex flex-row justify-content-center gap-4 mb-2">
                <div class="text-center fs-3 fw-bold tagnum"><%= user.photos ? user.photos.photo_only.count : 0  %><div class="tag fw-normal">PHOTOS</div></div>
                <div class="text-center fs-3 fw-bold tagnum"><%= user.albums.count %><div class="tag fw-normal">ALBUMS</div></div>
            </div>
            <% if current_user != user %>
                <%= turbo_frame_tag user, class: "follow-button-#{user.id}" do %>
                    <%= render partial: "follow", locals: { user: user, unfollow: (request.path == followings_path(current_user.id)) ? true : false } %>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>