<div class="d-flex flex-row">
    <% if user_signed_in? %>
        <% if current_user.isAdmin %>
            <%= render(partial: "navbar", locals: { page: "album" }) %>
        <% else %>
            <%= render(partial: "navbar", locals: { page: local_assigns[:feed] ? "feed" : "discover" }) %>
        <% end %>
    <% end %>
    <div class="bg-white mt-3 pt-3 w-75 container justify-content-center">
        <%= (user_signed_in? && current_user.isAdmin) ? "" : render(partial: "mode_switch", locals: { photo: false, album: true }) %>
        <div class="post-container row d-flex justify-content-center">
            <%= (user_signed_in? && current_user.isAdmin) ? "" : render(partial: "application/modal_album") %>
            <% @albums.each do |album| %>
                <% if user_signed_in? %>
                    <% if current_user.isAdmin %>
                        <%= render(album) %>
                    <% else %>
                        <%= render(partial: "album_post", locals: { album: album, follow: local_assigns[:feed] }) %>
                    <% end %>
                <% else %>
                    <%= render(partial: "album_post", locals: { album: album }) %>
                <% end %>
            <% end %>
        </div>
        <% if user_signed_in? && current_user.isAdmin? %>
            <%= paginate @albums %>
        <% end %>
    </div>
</div>