<% content_for :title, "New Album" %>

<div class="d-flex flex-row">
    <%= render "navbar" %>
    <div class="bg-white mt-3 pt-3 w-75 container">
        <%= render "application/edit_header", title: "New Album" %>
        <%= form_with(model: Album, as: :album, url: user_albums_path, method: :post, local: true, html: { multipart: true }) do |f| %>
            <div class="d-flex flex-row justify-content-between mt-3">
                <div class="new-field">
                    <div class="mb-4">
                        <%= f.label :title, class: "form-label text-body" %>
                        <%= f.text_field :title, class: "form-control", placeholder: "Album Title", required: true %>
                    </div>
                    <div class="mb-4">
                        <%= f.label :sharing_mode, class: "form-label text-body" %>
                        <%= f.select :isPublic, options_for_select([["Public", 1], ["Private", 0]], selected: 1), {}, { class: "form-select" } %>
                    </div>
                    <div class="avatar-upload-container position-relative mb-2 photo-upload">
                        <label for="avatar-upload-user">
                            <%= image_tag "square-plus-regular.jpg", class: "w-100", id: "avatar-upload-image-user" %>
                        </label>
                        <%= f.file_field :images, id: "avatar-upload-user", class: "images-upload", accept: "image/jpeg,image/png,image/gif", required: true, multiple: true %>
                    </div>
                    <%= f.submit "Save", class: "btn btn-success my-5" %>
                </div>
                <div class="new-field">
                    <%= f.label :description, class: "form-label" %>
                    <%= f.text_area :description, class: "form-control", rows: 5, placeholder: "Album Description", required: true %>
                </div>
            </div>
            <div class="container album-images"></div>
        <% end %>
    </div>
</div>