<div class="d-flex flex-row">
    <% if user_signed_in? && current_user.isAdmin %>
        <%= render(partial: "navbar", locals: { page: "album" }) %>
    <% elsif user_signed_in? %>
        <%= render(partial: "navbar", locals: { page: "feed" }) %>
    <% end %>
    <div class="bg-white mt-3 pt-3 w-75 container justify-content-center">
        <%= user_signed_in? && current_user.isAdmin ? "" : render(partial: "mode_switch", locals: { photo: false, album: true }) %>
        <div class="post-container row d-flex justify-content-center">
            <%= user_signed_in? && current_user.isAdmin ? "" : render(partial: "application/modal_album") %>
            <% @albums.each do |album| %>
                <%= user_signed_in? && current_user.isAdmin ?
                    render(album) :
                    render(partial: "albums/album_post", locals: { album: album, follow: follow }) %>
            <% end %>
        </div>
    </div>
</div>