<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fotobook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= [new_user_session_path, new_user_registration_path].include?(request.path) ? "" : "bg-body-tertiary" %> position-relative">
    <%= render partial: "header", locals: { isAdmin: false, isLogin: false } %>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <% flash.each do |key, message| %>
        <div class="toast" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="3000">
          <div role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <i class="fa-solid fa-square me-2 text-<%= key == "notice" ? "primary" : "danger" %>"></i>
              <strong class="me-auto">Fotobook</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              <%= message %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
