<%= content_for :title, "Edit Profile" %>

<div class="d-flex flex-row">
    <%= render "navbar" %>
    <div class="bg-white mt-3 pt-3 w-75 container">
        <%= render "edit_header", title: "Edit User Profile" %>
        <%= form_for(@user, as: :user, url: "/signup/edit", method: :put, local: true) do |f| %>
            <div class="edit-profile-admin d-flex flex-column align-items-center mt-3">
                <div class="avatar-upload-container position-relative mb-2">
                    <%= image_tag @user.avatar ? @user.avatar.image.url : "image-regular.svg", class: "w-100", id: "avatar-upload-image-user" %>
                    <%= f.file_field :avatar, class: "btn-check", id: "avatar-upload-user", autocomplete: "off", accept: "image/jpeg,image/png" %>
                    <label class="change btn btn-light fw-normal position-absolute bottom-0 start-50 translate-middle" for="avatar-upload-user">CHANGE</label>
                </div>
                <div class="edit-info mt-2">
                    <h6 class="edit-info-title text-center mb-3">Basic Information</h6>
                    <div class="row align-items-center mb-3">
                        <%= f.label :first_name, for: "input-fname-user", class: "col col-5 text-end" %>
                        <div class="col">
                            <%= f.text_field :fname, id: "input-fname-user", class: "form-control rounded-1", placeholder: "First Name", required: true %>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <%= f.label :last_name, for: "input-lname-user", class: "col col-5 text-end" %>
                        <div class="col">
                            <%= f.text_field :lname, id: "input-lname-user", class: "form-control rounded-1", placeholder: "Last Name", required: true %>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <%= f.label :email, for: "input-email-user", class: "col col-5 text-end" %>
                        <div class="col">
                            <%= f.email_field :email, id: "input-email-user", class: "form-control rounded-1", placeholder: "Email", required: true %>
                        </div>
                    </div>
                </div>
                <%= f.submit "Save", class: "btn btn-success rounded-1 mb-5" %>
            </div>
        <% end %>
        <%= form_for(@user, as: :user, url: "/signup/edit", method: :put, local: true) do |f| %>
            <div class="edit-profile-admin d-flex flex-column align-items-center mt-3">
                <div class="edit-info">
                    <h6 class="edit-info-title text-center mb-3">Password</h6>
                    <div class="row align-items-center mb-3">
                        <%= f.label :current_password, for: "input-oldpassword", class: "col col-5 text-end" %>
                        <div class="col">
                            <%= f.password_field :current_password, id: "input-oldpassword", class: "form-control rounded-1", placeholder: "Current Password", required: true %>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <%= f.label :password, for: "input-newpassword", class: "col col-5 text-end" %>
                        <div class="col">
                            <%= f.password_field :password, id: "input-newpassword", class: "form-control rounded-1", placeholder: "New Password", required: true %>
                        </div>
                    </div>
                    <div class="row align-items-center mb-3">
                        <%= f.label :password_confirmation, for: "input-confpassword", class: "col col-5 text-end" %>
                        <div class="col">
                            <%= f.password_field :password_confirmation, id: "input-confpassword", class: "form-control rounded-1", placeholder: "Confirm Password", required: true %>
                        </div>
                    </div>
                </div>
                <%= f.submit "Save", class: "btn btn-success rounded-1 mb-5 mx-auto" %>
            </div>
        <% end %>
    </div>
</div>